.cof-key {
  fill: transparent;
}

.cof-key text {
  fill: black !important;
  pointer-events: none;
}

.cof-key :hover {
  fill: aquamarine;
  cursor: pointer;
}

.cof-key-alt {
  fill: transparent
}

.cof-key-alt text {
  fill: black !important;
  pointer-events: none;
}

.cof-key-alt :hover {
  fill: silver;
  cursor: pointer;
}

.cof-key-pressed {
  fill: gold;
  cursor: pointer;
}

.cof-key-pressed text {
  fill: black !important;
  pointer-events: none;
}

#dg-sig-tmp {
  pointer-events: none;
  fill: none;
  stroke: color-mix(in srgb, aquamarine 90%, black);
}

#dg-sig-fix {
  pointer-events: none;
  fill: none;
  stroke: gold;
}

.dg-key-0 {
  fill: transparent;
  cursor: pointer;
}

.dg-key-0 :hover {
  fill: silver;
}

.dg-key-0 text {
  fill: black;
  pointer-events: none;
  font-family: sans-serif;
}

.dg-key-1 {
  fill: #ebebeb;
  cursor: pointer;
}

.dg-key-1 :hover {
  fill: silver;
}

.dg-key-1 text {
  fill: black;
  pointer-events: none;
  font-family: sans-serif;
}

.dg-key-2 {
  fill: #696969;
  cursor: pointer;
}

.dg-key-2 :hover {
  fill: #343434;
}

.dg-key-2 text {
  fill: white;
  pointer-events: none;
  font-family: sans-serif;
}

.dg-key-0-pressed {
  cursor: pointer;
  fill: aquamarine
}
.dg-key-1-pressed {
  cursor: pointer;
  fill: aquamarine
}
.dg-key-2-pressed {
  cursor: pointer;
  fill: aquamarine
}

.dg-key-0-pressed text {
  fill: black;
  pointer-events: none;
  font-family: sans-serif;
}
.dg-key-1-pressed text {
  fill: black;
  pointer-events: none;
  font-family: sans-serif;
}
.dg-key-2-pressed text {
  fill: black;
  pointer-events: none;
  font-family: sans-serif;
}

/* other styling */
#diagram-box {
  display: flex
}

#diagram {
  flex-grow: 0
}

.dg-spacer {
  flex-grow: 1
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#header {
  min-height: 24px;
  border-bottom: solid;
  border-width: 2px;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 5px;
}

#panes {
  display: flex;
  grid-template-columns: 1fr 300px;
  flex-grow: 1;
}

#left-pane {
  padding-top: 1em;
  flex-grow: 4;
}

#right-pane {
  min-width: 300px;
  border-left: solid;
  border-width: 2px;
  padding-top: 4px;
  padding-left: 5px;
}

#right-pane details summary {
  font-family: sans-serif;
  font-size: 11pt;
  font-weight: bolder;
}

#sf-opts div {
  padding-top: 5px;
  padding-left: 0.9em;
}

#sf-opts div br {
  display: block;
  margin: 0.1em;
}

#vkbd {
  display: none;
  border-width: 2px;
  background: #353535;
  padding-top: 3px;
  padding-left: 1px;
}

.vkbd-spacer {
  display: flex;
  flex-grow: 1
}

#vkbd-dark {
  margin-right: 3px;
  width: 2.5em;
  height: 2.5em;
  /* margin-top: 2px; */
}

#vkbd-close {
  font-size: 8pt;
  width: 2.5em;
  height: 2.5em;
}

#vkbd-keys {
  border-right: solid;
  border-bottom: solid;
  border-width: 2px;
  border-color: black;
}

.vkey-0 {
  fill: white;
  stroke: gray;
  cursor: pointer;
}

.vkey-1 {
  fill: black;
  stroke: gray;
  cursor: pointer;
}

.vkey-0-pressed {
  fill: aquamarine;
  stroke: gray;
  cursor: pointer;
}

.vkey-1-pressed {
  fill: aquamarine;
  stroke: gray;
  cursor: pointer;
}

#help {
  display: none;
  flex-direction: column;
  background: white;
  position: absolute;
  border: solid;
  border-width: 2px;
  top: 40px;
  left: calc(0.5*(100% - 100ch));
  width: 100ch;
  max-height: calc(100vh - 55px);
  overflow: auto;
}

#help-header {
  background: #ebebeb;
  width: calc(100% - 2px);
  border-bottom: solid;
  border-width: 2px;
  border-color: rgb(75, 75, 75);
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#help-header button {
  font-size: 5.7pt;
  height: 3em;
  width: 3em;
  margin: 1px;
}

#help-header span {
  display: inline-block;
  vertical-align: middle;
}

#help-contents {
  text-justify: auto;
  overflow: scroll;
  padding-left: 2em;
  padding-right: 2em;
}
